* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

body {
    height: 100vh;
    background-color: #caad6e;
    background-position: center;
    background-size: cover;
}



.nav-link.active:hover {
    color: orange;
}

/* Barre Recherche Livre / Carousel */

.row .form-control {
    text-align: center;
    font-size: 15px;
    height: 35px;
    width: 80%;
    /* taille de l'élément */
    margin: 0 auto;
    /* centrer horizontalement */
}

h2 {
    color: #fff;
    font-size: 2rem;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 30px;
}

/* Identification */

.col-md-4 .form-group {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80%;
    border: 1px solid #ffffff;
    padding: 2rem;
}

input[type="text"],
input[type="password"] {
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 1rem;
}

/* Barre de Navigation */

.navbar {
    padding-left: 15px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-link,
.btn-custom {
    text-align: center;
    color: #fff;
    /* couleur du texte */
    background-color: #06283d;
    /* couleur du fond */
    border-color: #ffffff;
    /* couleur de la bordure */
    border-radius: 15px;
}

.nav-link:hover,
.btn-custom:hover {
    background-color: orange;
    /* couleur du fond souris dessus */
    border-color: #06283d;
    /* couleur de la bordure souris dessus */

}

.full-width-navbar {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
}


/* templates */

.dropdown-item {
    color: #caad6e;
    background-color: #06283d;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #06283d;
    color: #caad6e;
}

.dropdown-menu .dropdown-item {
    text-align: center;
}
footer {
    color: #fff;
    /* couleur du texte */
    background-color: #06283d;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-bottom {
    color: #888;
    font-size: 12px;
}

.identity {
    text-align: left;
    padding-left: 10px;
}

.bts {
    text-align: right;
    padding-right: 10px;
}

/* fin templates */

